/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background: url('/game/background2.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  color: #021623;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #555;
  text-align: center;
}

/* Container for Login and Signup Pages */
.container {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: borderColorChange 5s infinite alternate;  /* Vibrant border animation */
  border: 5px solid transparent;
  background-clip: padding-box; /* Prevents the background from covering the border */
}

/* Vibrant border animation */
@keyframes borderColorChange {
  0% {
    border-color: #ff6347; /* Vibrant Red */
  }
  25% {
    border-color: #ff4500; /* Orange */
  }
  50% {
    border-color: #32cd32; /* Green */
  }
  75% {
    border-color: #ffb6c1; /* Light Pink */
  }
  100% {
    border-color: #1e90ff; /* Blue */
  }
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #021623;
  outline: none;
}

button {
  padding: 12px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0195ff;
}

/* Links */
a {
  color: #021623;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Login & Signup link styles */
p {
  text-align: center;
  margin-top: 20px;
}

p a {
  color: #021623;
}

/* Responsive Design */
@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  h1, h2 {
    font-size: 1.5rem;
  }

  label, input, button {
    font-size: 1rem;
  }

  #top {
    flex-direction: column;
    text-align: center;
  }

  #top img {
    margin-bottom: 10px;
  }

  .buttons {
    width: 100%;
    padding: 0 10px;
  }

  button {
    width: 100%; /* Button takes full width on smaller screens */
  }

  .message {
    font-size: 20px;
  }
}
